@import './variable';

.btn{
    background: none;
    border: none;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    cursor: pointer;
    padding-bottom: 5px;
    width: fit-content;
    position: relative;
    &::before{
        content: '';
        width: 0%;
        height: 1px;
        position: absolute;
        transition: 0.3s all;
        background: $dark;
        bottom: 0;
        left: 0;
    }
    &:hover, &:focus{
        outline: none;
        &::before{
            width: 100%;
        }
    }
    &_white{
        color: $white;
        &::before{
            background: $white;
        }
    }
}