.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    &_light-grey{
        color: #B2B2B2;
    }
    &_dark{
        color: #262626;
    }
    &_white{
        color: #F1F1EE;
    }
    &_content{
        letter-spacing: 0.5px;
        font-weight: 400;
        font-size: 25px;
        line-height: 32px;
    }
}

@media screen and(max-width: 1000px) {
    .text{
        &_content{
            font-size: 18px;
        }
    }
}


@media screen and(max-width: 724px) {
    .text{
        font-size: 14px;
        
    }
}