@import "./base/text";
@import "./base/button";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

@import './modules/power';
@import './modules/header';
@import './modules/hand';
@import './modules/cream';
@import './modules/perfume';
@import './modules/mist';
@import './modules/footer';
@import './modules/anime';